.lista-de-itens{
  margin: 14px 0;
}

label {
  display: block; 
  margin-bottom: 8px;
  font-size: 16px;
}

.lista-de-itens select {
  font-size: 14px;
  padding: 12px; 
  border: 1px #000 solid;
  border-radius: 8px;
  background-color: #fff;
  width: 100%
}