.campo-texto{
  margin: 14px 0;
}

.campo-texto label{
  display: block; /* quebrando a linha */
  margin-bottom: 4px;
  font-size: 20px;
}

.campo-texto input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0); 
  border-radius: 8px;
  font-size: 12px;
  padding: 12px; 
  box-sizing: border-box; 
  width: 100%
}