.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  background-color: #AB52C5;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;

}

.menu-item:hover {
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}